<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>老爸ㄉ記帳手札</title>
</head>
<body>
  <header>
    <h1>這是Header</h1>
    <hr style="color: black;">
  </header>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <hr style="color: black;">
    <h2>這是footer</h2>
  </footer>
</body>
</html>