<h3>
  這是首頁,帳目有這些:
</h3>

<div>
  {{#each records}}
  <div>
    <h5>{{this.name}}</h5>
    <p>分類:{{this.category}}</p>
    <p>時間:{{this.date}}</p>
    <p>金額:{{this.amount}}</p>
    <hr>
  </div>
  {{/each}}
</div>